---
import Layout from "../../layouts/Layout.astro"
import gymsharkProducts from "../../components/gymsharkProducts";

import image1 from '/public/images/3pk1.JPG';
import image2 from '/public/images/3pk2.JPG';
import image3 from '/public/images/3pk3.JPG';
import image4 from '/public/images/3pk4.JPG';
import imageSocks from '/public/images/socks.JPG';
import image5pk1 from '/public/images/5pk1.JPG';
import image5pk2 from '/public/images/5pk2.JPG';
import imageCherryBrown1 from '/public/images/cherrybrown1.JPG';
import imageCherryBrown2 from '/public/images/cherrybrown2.JPG';
import imageCherryBrown3 from '/public/images/cherrybrown3.JPG';
import imageCherryBrown4 from '/public/images/cherrybrown4.JPG';
import imageCherryBrown5 from '/public/images/cherrybrown5.JPG';
import imageGreenBra1 from '/public/images/greenbra1.JPG';
import imageGreenBra2 from '/public/images/greenbra2.JPG';
import imageGreenBra3 from '/public/images/greenbra3.JPG';
import imageGreenBra4 from '/public/images/greenbra4.JPG';
import imageGreenBra5 from '/public/images/greenbra5.JPG';
import imageGreenBra6 from '/public/images/greenbra6.JPG';
import imageGreyBra1 from '/public/images/greybra1.JPG';
import imageGreyBra2 from '/public/images/greybra2.JPG';
import imageGreyBra3 from '/public/images/greybra3.JPG';
import imageGreyBra4 from '/public/images/greybra4.JPG';
import imageGreyBra5 from '/public/images/greybra5.JPG';
import imageGreyBra6 from '/public/images/greybra6.JPG';
import imageRedBack1 from '/public/images/redback1.JPG';
import imageRedBack2 from '/public/images/redback2.JPG';
import imageRedBack3 from '/public/images/redback3.JPG';
import imageRedBack4 from '/public/images/redback4.JPG';
import imageRedBack5 from '/public/images/redback5.JPG';
import imageRedBack6 from '/public/images/redback6.JPG';
import imageLavenderBra1 from '/public/images/lavenderbra1.JPG';
import imageLavenderBra2 from '/public/images/lavenderbra2.JPG';
import imageLavenderBra3 from '/public/images/lavenderbra3.JPG';
import imageLavenderBra4 from '/public/images/lavenderbra4.JPG';
import imageLavenderBra5 from '/public/images/lavenderbra5.JPG';
import imageLavenderBra6 from '/public/images/lavenderbra6.JPG';
import imageOliveBra1 from '/public/images/olivebra1.JPG';
import imageOliveBra2 from '/public/images/olivebra2.JPG';
import imageOliveBra3 from '/public/images/olivebra3.JPG';
import imageOliveBra4 from '/public/images/olivebra4.JPG';
import imageOliveBra5 from '/public/images/olivebra5.JPG';
import imageOliveBra6 from '/public/images/olivebra6.JPG';
import imageBlueLegacy1 from '/public/images/bluelegacy1.JPG';
import imageBlueLegacy2 from '/public/images/bluelegacy2.JPG';
import imageBlueLegacy3 from '/public/images/bluelegacy3.JPG';
import imageBlueLegacy4 from '/public/images/bluelegacy4.JPG';
import imageBlueLegacy5 from '/public/images/bluelegacy5.JPG';
import imageBlueLegacy6 from '/public/images/bluelegacy6.JPG';
import imagePocketBlue1 from '/public/images/pocketblue1.JPG';
import imagePocketBlue2 from '/public/images/pocketblue2.JPG';
import imagePocketBlue3 from '/public/images/pocketblue3.JPG';
import imagePocketBlue4 from '/public/images/pocketblue4.JPG';
import imagePocketBlue5 from '/public/images/pocketblue5.JPG';
import imagePocketBlue6 from '/public/images/pocketblue6.JPG';
import imageStudioBlack1 from '/public/images/studioblack1.jpg';
import imageStudioBlack2 from '/public/images/studioblack2.jpg';
import imageStudioBlack3 from '/public/images/studioblack3.jpg';
import imageStudioBlack4 from '/public/images/studioblack4.jpg';
import imageStudioBlack5 from '/public/images/studioblack5.jpg';
import imageStudioBlack6 from '/public/images/studioblack6.jpg';
import imagePowerBlue1 from '/public/images/powerblue1.JPG';
import imagePowerBlue2 from '/public/images/powerblue2.JPG';
import imagePowerBlue3 from '/public/images/powerblue3.JPG';
import imagePowerBlue4 from '/public/images/powerblue4.JPG';
import imagePowerBlue5 from '/public/images/powerblue5.JPG';
import imagePowerBlue6 from '/public/images/powerblue6.JPG';
import imageLeggingBlack1 from '/public/images/legingblack1.JPG';
import imageLeggingBlack2 from '/public/images/legingblack2.JPG';
import imageLeggingBlack3 from '/public/images/legingblack3.JPG';
import imageLeggingBlack4 from '/public/images/legingblack4.JPG';
import imageLeggingBlack6 from '/public/images/legingblack6.JPG';
import imageLeggingBlack7 from '/public/images/legingblack7.JPG';
import imageMarlLegins4 from '/public/images/marlegins4.jpg';
import imageMarlLegins5 from '/public/images/marlegins5.jpg';
import imageMarlLegins6 from '/public/images/marlegins6.jpg';
import imageHoyaBra1 from '/public/images/hoyabra1.JPG';
import imageHoyaBra2 from '/public/images/hoyabra2.JPG';
import imageHoyaBra3 from '/public/images/hoyabra3.JPG';
import imageHoyaBra4 from '/public/images/hoyabra4.JPG';
import imageHoyaBra5 from '/public/images/hoyabra5.JPG';
import imageHoyaBra6 from '/public/images/hoyabra6.JPG';
import imageMidTopBlack1 from '/public/images/midtopblack1.JPG';
import imageMidTopBlack2 from '/public/images/midtopblack2.JPG';
import imageMidTopBlack3 from '/public/images/midtopblack3.JPG';
import imageMidTopBlue1 from '/public/images/midtopblue1.JPG';
import imageMidTopBlue2 from '/public/images/midtopblue2.JPG';
import imageMidTopBlue3 from '/public/images/midtopblue3.JPG';
import imageMidTopBlue4 from '/public/images/midtopblue4.JPG';
import imageMidTopBlue5 from '/public/images/midtopblue5.JPG';
import imageMidTopBlue6 from '/public/images/midtopblue6.JPG';

const gymsharkProducts2 = [
    {
        id: 1,
        name: 'GFX-Crew-Socks-3pk',
        productName: 'GFX Crew Socks',
        image1: image1,
        image2: image2,
        image3: image3,
        image4: image4,
        color: 'White',
        category: 'Body fit',
        size: 'S',
        price: 310
    },
    {
        id: 111,
        name: 'Crew-Socks-7PK',
        productName: 'Crew socks 7pK',
        image1: imageSocks,
        image2: imageSocks,
        color: 'White',
        category: 'Body fit',
        size: 'L',
        price: 410
    },
    {
        id: 2,
        name: 'Crew-Socks-5pk',
        productName: 'Crew socks 5pk',
        image1: image5pk1,
        image2: image5pk2,
        color: 'Plum Pink/Deep Teal/Citrus Green/Capri Blue/Grape Purple',
        category: 'Body fit',
        size: 'S',
        price: 250
    },
    {
        id: 3,
        name: 'Adapt-Animal-Seamless-Crop-Tank',
        productName: 'Adapt Animal Seamless Crop Tank',
        image1: imageCherryBrown1,
        image2: imageCherryBrown2,
        image3: imageCherryBrown3,
        image4: imageCherryBrown4,
        image5: imageCherryBrown5,
        color: 'Reef | Cherry Brown',
        category: 'Body fit',
        size: 'S',
        price: 1400
    },
    {
        id: 4,
        name: 'Sport-Bra',
        productName: 'Crossover Sport Bra',
        image1: imageGreenBra1,
        image2: imageGreenBra2,
        image3: imageGreenBra3,
        image4: imageGreenBra4,
        image5: imageGreenBra5,
        image6: imageGreenBra6,
        color: 'Desert Sage Green',
        category: 'Body fit',
        size: 'S',
        price: 1200
    },
    {
        id: 5,
        name: 'Adapt-Camo-Seamless-Sports-Bra',
        productName: 'Adapt Camo Seamless Sports Bra',
        image1: imageGreyBra1,
        image2: imageGreyBra2,
        image3: imageGreyBra3,
        image4: imageGreyBra4,
        image5: imageGreyBra5,
        image6: imageGreyBra6,
        color: 'Pebble Grey/Soul Brown',
        category: 'Body fit',
        size: 'M',
        price: 1430
    },
    {
        id: 6,
        name: 'Adapt-Camo-Seamless-Lace-Up-Back-Top',
        productName: 'Adapt Camo Seamless Lace Up Back Top',
        image1: imageRedBack1,
        image2: imageRedBack2,
        image3: imageRedBack3,
        image4: imageRedBack4,
        image5: imageRedBack5,
        image6: imageRedBack6,
        color: 'Storm Red/Cherry Brown',
        category: 'Body fit',
        size: 'S',
        price: 1450
    },
    {
        id: 7,
        name: 'Crossover-Sport-Bra',
        productName: 'Crossover Sport Bra',
        image1: imageLavenderBra1,
        image2: imageLavenderBra2,
        image3: imageLavenderBra3,
        image4: imageLavenderBra4,
        image5: imageLavenderBra5,
        image6: imageLavenderBra6,
        color: 'Slate Lavender',
        category: 'Body fit',
        size: 'M | S',
        price: 1200
    },
    {
        id: 8,
        name: 'Elevate-Longline-Sports-Bra',
        productName: 'Elevate Longline Sports Bra',
        image1: imageOliveBra1,
        image2: imageOliveBra2,
        image3: imageOliveBra3,
        image4: imageOliveBra4,
        image5: imageOliveBra5,
        image6: imageOliveBra6,
        color: 'Moss Olive',
        category: 'Body fit',
        size: 'S | M',
        price: 1300
    },
    {
        id: 9,
        name: 'Legacy-Ruched-Tights-Shorts',
        productName: 'Legacy Ruched Tights Shorts',
        image1: imageBlueLegacy1,
        image2: imageBlueLegacy2,
        image3: imageBlueLegacy3,
        image4: imageBlueLegacy4,
        image5: imageBlueLegacy5,
        image6: imageBlueLegacy6,
        color: 'Lakgeside Blue',
        category: 'Body fit',
        size: 'S',
        price: 1320
    },
    {
        id: 10,
        name: 'Pocket-Shorts',
        productName: 'Pocket Shorts',
        image1: imagePocketBlue1,
        image2: imagePocketBlue2,
        image3: imagePocketBlue3,
        image4: imagePocketBlue4,
        image5: imagePocketBlue5,
        image6: imagePocketBlue6,
        color: 'Denim Blue',
        category: 'Body fit',
        size: 'M',
        price: 1290
    },
    {
        id: 11,
        name: 'Studio-Shorts',
        productName: 'Studio Shorts',
        image1: imageStudioBlack1,
        image2: imageStudioBlack2,
        image3: imageStudioBlack3,
        image4: imageStudioBlack4,
        image5: imageStudioBlack5,
        image6: imageStudioBlack6,
        color: 'Black',
        category: 'Body fit',
        size: 'S',
        price: 1500
    },
    {
        id: 12,
        name: 'Gs-Power-Original-Leggings',
        productName: 'Gs Power Original Leggings',
        image1: imagePowerBlue1,
        image2: imagePowerBlue2,
        image3: imagePowerBlue3,
        image4: imagePowerBlue4,
        image5: imagePowerBlue5,
        image6: imagePowerBlue6,
        color: 'Coastal Blue',
        category: 'Body fit',
        size: 'S',
        price: 1650
    },
    {
        id: 13,
        name: 'Adapt-Animal-Seamless-Leggings',
        productName: 'Adapt Animal Seamless Leggings',
        image1: imageLeggingBlack1,
        image2: imageLeggingBlack2,
        image3: imageLeggingBlack3,
        image4: imageLeggingBlack4,
        image5: imageLeggingBlack6,
        image6: imageLeggingBlack7,
        color: 'Reef | Black',
        category: 'Body fit',
        size: 'S',
        price: 1690
    },
    {
        id: 14,
        name: 'Flex-High-Waisted-Leggings',
        productName: 'Flex High Waisted Leggings',
        image1: imageMarlLegins4,
        image2: imageMarlLegins5,
        image3: imageMarlLegins6,
        color: 'Earl Blue Marl',
        category: 'Body fit',
        size: 'S',
        price: 1800
    },
    {
        id: 15,
        name: 'Legacy-Sports-Bra',
        productName: 'Legacy Sports Bra',
        image1: imageHoyaBra1,
        image2: imageHoyaBra2,
        image3: imageHoyaBra3,
        image4: imageHoyaBra4,
        image5: imageHoyaBra5,
        image6: imageHoyaBra6,
        color: 'Hoya Green',
        category: 'Body fit',
        size: 'S',
        price: 1300
    },
    {
        id: 16,
        name: 'Vital-Seamless-2.0-High-Neck-Midi_top',
        productName: 'Vital Seamless 2.0 High Neck Midi top',
        image1: imageMidTopBlack1,
        image2: imageMidTopBlack2,
        image3: imageMidTopBlack3,
        color: 'Black Marl',
        category: 'Body fit',
        size: 'M',
        price: 1500
    },
    {
        id: 17,
        name: 'Vital-Seamless-2.0-High-Neck-Midi_top',
        productName: 'Vital Seamless 2.0 High Neck Midi top',
        image1: imageMidTopBlue1,
        image2: imageMidTopBlue2,
        image3: imageMidTopBlue3,
        image4: imageMidTopBlue4,
        image5: imageMidTopBlue5,
        image6: imageMidTopBlue6,
        color: 'Stellar Blue Marl',
        category: 'Body fit',
        size: 'S',
        price: 1500
    }
];

export async function getStaticPaths() {
    const info = gymsharkProducts2

    return info.map((p) => {
        return {
            params: {name: p.name},
            props: {p}
        }
    })
}

const {name} = Astro.params
const {p} = Astro.props
---

<Layout title={name}>
    <div class="gallery-container">
        <div class="gallery-images">
                <div class="gallery-inner">
                    <img class="gallery-image" src={p.image1}/>
                    <img class="gallery-image" src={p.image2}/>
                    <img class="gallery-image" src={p.image3}/>
                    <img class="gallery-image" src={p.image4}/>
                    <img class="gallery-image" src={p.image5}/>
                    <img class="gallery-image" src={p.image6}/>
                </div>
        </div>
        <div class="gallery-info">
            <div class="box">
                <h2>{p.productName}</h2>
                <h2>L.{p.price}</h2>
                <p>{p.color}</p>
                <p>{p.category}</p>
                <p>Size:{p.size}</p>
            </div>
        </div>  
    </div>
</Layout>


<style>


.gallery-container{
    padding: 120px 30px;
    display: flex;
    flex-direction: column;

}

.gallery-info{
    position: fixed;
    top: 100px;
    right: 200px;
}

.gallery-image{
    max-width: 50%;
}

.gallery-inner{
    display: flex;
    flex-direction: column;
}


h2{
    font-family: 'Montserrat', sans-serif;

}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    width: 300px;
}


/* media querys */
@media screen and (max-width: 768px) {
    .gallery-container {
    width: 100%;
    height: 120vh;
    overflow-x: auto;
    padding: 90px 0;
}

.gallery-images {
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    align-items: flex-start; 
}

.gallery-inner {
    display: flex;
    flex-direction: row;
}

.gallery-image {
    flex: 0 0 auto;
    scroll-snap-align: start;
    max-width: 80%; /* Reducir el ancho al 48% */
    max-height: 30%; /* Reducir la altura al 48% */
    height: auto;
}

.gallery-info{
    margin-top: 40px;
    position: static;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    width: 100%;
    text-align: center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: #000000;

}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: #000000;
    width: 100%;
}


}


</style>

